.footer {
  width: 100%;
  background-color: black;
  height: auto;
  display: flex;
  flex-direction: column;
  color: white;
}

.footerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.footerContainer h4 {
  margin-left: 7rem;
  margin-bottom: 1.5rem;
  margin-top: 3rem;
}
.footerItems {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.footerItems ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
}
.footerItems ul li {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
/* .divider {
  width: 100%;
  align-self: center;
} */
.copyRights {
  margin-left: 7rem;
}
